<section class="text-gray-600 body-font bg-gradient-to-tr from-sky-400 to-cyan-300">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <%= image_tag('ramen_logo.png', size: '500x500') %>
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-center items-center text-center">
      <h1 class="title-font sm:text-8xl text-3xl mb-4 font-bold text-gray-600">ジロサウナ〜</h1>
      <div class="flex justify-center space-x-10">
        <button class="inline-flex text-white font-semibold bg-blue-600 border-0 py-4 px-10 mt-8 focus:outline-none hover:bg-blue-700 rounded-full text-lg shadow-lg">マップから探す</button>
        <button class="ml-4 inline-flex text-gray-600 font-semibold bg-yellow-300 border-0 py-4 px-10 mt-8 focus:outline-none hover:bg-yellow-400 rounded-full text-lg shadow-lg">二郎から探す</button>
      </div>
    </div>
  </div>
</section>