/ Link showing page number
  - available local variables
    page         : a page object for "this" page
    url          : url to this page
    current_page : a page object for the currently displayed page
    total_pages  : total number of pages
    per_page     : number of items to fetch per page
    remote       : data-remote
span class="mx-2 w-10 h-10 text-lg rounded-full inline-block hover:bg-dark-blue hover:text-white leading-10#{' text-white bg-main-blue rounded-full' if page.current?}"
  == link_to_unless page.current?, page, url, {remote: remote, rel: page.rel}
'
